<body>
    <div class="row">
    <div class="col-md-12">
        <h2>
            Categories
            <a href="/categories/add" class="btn btn-primary pull-right">Add Category</a>
        </h2>
        <hr />
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Category Id</th>
                        <th>Category Name</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each categories}}
                    <tr>
                        <td><a href="/posts?category={{this.id}}">{{this.id}}</a> </td>
                        <td><a href="/posts?category={{this.id}}">{{this.category}}</a></td>
                        <td><a href="/categories/delete/{{this.id}}" class="btn btn-danger">Rmove</a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    {{#unless posts}}
    <div class="col-md-12 text-center">
        <h4 class="h4 text-center">{{message}}</h4>
    </div>
    {{/unless}}
</div>
</body>


